<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ponpon</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listusersmain">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Adduser">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buildlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Buildings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editbuild">
                <span class="oi oi-plus" aria-hidden="true"></span> Edit Buildings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roomtest">
                <span class="oi oi-plus" aria-hidden="true"></span> Rooms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listequipment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Equipment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reqa">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Requests
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editrooms">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Rooms
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
