@page "/AddUser"
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Bochacha.Domain


<body style="background-color:azure">
    <div class="form-container">
        <p>Добавить пользователя</p>
        <input @bind="newType" placeholder="Имя пользователя" />

        <button class="custom-button" style="background-color:lightskyblue" @onclick="AddUSER">Добавить</button><p></p>
    </div>
</body>

<body style="background-color:azure">
    <div class="form-container">
        <p></p>
        <p>Удалить пользователя</p>
        <input @bind="delid" placeholder="ID" size="45"/>

        <button class="custom-button" style="background-color:lightcoral" @onclick="DelUSER">Удалить</button>
    </div>
</body>
@code {
    private string? newType;
    private Guid newid;
    private Guid delid;

    [Parameter]
    public EventCallback<string> OnAddUser { get; set; }

    private async Task AddUSER()
    {

        var user = new USER
            {
                id = newid,
                Type = newType

            };
        newid = Guid.NewGuid();
        newType = "";
        await Http.PostAsJsonAsync("https://localhost:7143/api/USER", user);
        await OnAddUser.InvokeAsync("OK");
    }
    private async Task DelUSER()
    {
        Console.WriteLine(delid);
        await Http.DeleteAsync("https://localhost:7143/api/USER/" + delid);
    }
}