@page "/listusersmain"
@using System.Net.Http

@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Bochacha.Domain

<body style="background-color:azure">
    <h3>Список пользвателей</h3>
    <p>@MessageAdd</p>
    

@if (users != null)
{
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.id</td>
                <td>@user.Type</td>
            </tr>
        }
    </tbody>
    </table>
}


@if (fulfil && users == null)
{
    <p>Пользователи отсутствуют.</p>
}
else if (!fulfil && users == null)
{
    <p>Идет загрузка...</p>
}
</body>
 

@code {
    [Parameter]
    public string? MessageAdd { get; set; }

    private IEnumerable<USER> users;
    private bool fulfil = false;
    protected override async Task OnParametersSetAsync() =>
        users = await Http.GetFromJsonAsync<USER[]>("https://localhost:7143/api/USER");
    //7143 5143
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("help1");
        users = await Http.GetFromJsonAsync<IEnumerable<USER>>
            ("https://localhost:7143/api/USER");
        Console.WriteLine("help2");
        fulfil = true;
    }

}